body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.nav_bar {
    background-color: #333;
    height: 100px;
    width: 100%;
}

.radio_btns {
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(233, 228, 221);
    box-shadow: 15px;
}

.start {
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(233, 228, 221);
    box-shadow: 15px;
    border-radius: 10px;
}